body {
  font-family: sans-serif;
}

#score-position {
  margin-top: 5%;
  margin-left: 25%;
}

#win-lose {
  width: 5em;
  margin: 0 auto;
  margin-top: 3%;
}

div {
  display: inline-block;

}

#start {
  font-weight: bold;
  font-size: .8em;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width:15%;
/*  margin: auto;*/
  transform: rotate(-45deg);
  margin: -6% 0 0 -8%;
  background-color:white;
  border: none;
  cursor: pointer;
}

#start:hover {
  color:white;
  background-color:black;
}

#start:active {
  color:black;
  background-color:white;
}

#container {
  width: 405px;
/*  height: 200px;*/
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  left: -5px;
  position:relative;
  transform: rotate(45deg);
/*  vertical-align: middle;*/
  cursor: pointer;
}

.green {
  background-color: #56be56;
  width: 200px;
  height: 200px;
  border-radius: 100% 0 0 0;
  box-shadow: inset 5px 5px 5px 10px green;
}

.green-flash {
  background-color: #1ae031;
  width: 200px;
  height: 200px;
  border-radius: 100% 0 0 0;
}

.green:active {
  background-color: #1ae031;
}

.red {
  background-color: #8e4040;
  width: 200px;
  height: 200px;
  border-radius: 0 100% 0 0;
  box-shadow: inset 5px 5px 5px 10px #7c0000;
}

.red:active {
  background-color:#ed1e1e;
}

.red-flash {
  background-color:#ed1e1e;
  width: 200px;
  height: 200px;
  border-radius: 0 100% 0 0;
}

.blue {
  background-color: #304483;
  width: 200px;
  height: 200px;
  border-radius: 0 0 100% 0;
  box-shadow: inset 1px 1px 5px 15px #172f8c;
}

.blue-flash {
  background-color: #215cf2;
  width: 200px;
  height: 200px;
  border-radius: 0 0 100% 0;
}

.blue:active {
  background-color: #215cf2;
}

.yellow {
  background-color: #bbbb5b;
  width: 200px;
  height: 200px;
  border-radius: 0 0 0 100%;
  box-shadow: inset 5px 5px 5px 10px #9e9000;
}

.yellow-flash {
  background-color: #f2ea0c;
  width: 200px;
  height: 200px;
  border-radius: 0 0 0 100%;
}

.yellow:active {
  background-color:#f2ea0c;
}
