body {
  font-family: 'Ubuntu', sans-serif;
  background-color:black;
  color:white;
}

#score-position {
  font-size: 1.5em;
}

#win-lose {
  width: 5em;
  margin: 0 auto;
  font-size: 1.8em;
  margin-top:10px;
  text-align: center;
}

.red, .yellow, .green, .blue {
  display: inline-block;
}

button {
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 2px;
  font-size:.8em;
}



#start {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width:18%;
/*  margin: auto;*/
  transform: rotate(-45deg);
  margin: -6% 0 0 -10%;
  background-color:#3B158D;
  color:white;
  box-shadow: inset .5px .5px 3px 3px #1F0657;
}

/* 2C0B73 */
/* 1F0657 */

#start:hover {
  color:white;
  background-color:#4e0c68;
}

#start:active {
  color:black;
  background-color:white;
}

#container {
  width: 405px;
/*  height: 200px;*/
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  left: -5px;
  position:relative;
  transform: rotate(45deg);
/*  vertical-align: middle;*/
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
/*  z-index: -1;*/
}

.green {
  background-color: #56be56;
  width: 200px;
  height: 200px;
  border-radius: 100% 0 0 0;
  box-shadow: inset 5px 5px 5px 10px green;
}

.green-flash {
  background-color: #1ae031;
  width: 200px;
  height: 200px;
  border-radius: 100% 0 0 0;
}

.green:active {
  background-color: #1ae031;
}

.red {
  background-color: #8e4040;
  width: 200px;
  height: 200px;
  border-radius: 0 100% 0 0;
  box-shadow: inset 5px 5px 5px 10px #7c0000;
}

.red:active {
  background-color:#ed1e1e;
}

.red-flash {
  background-color:#ed1e1e;
  width: 200px;
  height: 200px;
  border-radius: 0 100% 0 0;
}

.blue {
  background-color: #304483;
  width: 200px;
  height: 200px;
  border-radius: 0 0 100% 0;
  box-shadow: inset 1px 1px 5px 15px #172f8c;
}

.blue-flash {
  background-color: #215cf2;
  width: 200px;
  height: 200px;
  border-radius: 0 0 100% 0;
}

.blue:active {
  background-color: #215cf2;
}

.yellow {
  background-color: #bbbb5b;
  width: 200px;
  height: 200px;
  border-radius: 0 0 0 100%;
  box-shadow: inset 5px 5px 5px 10px #9e9000;
}

.yellow-flash {
  background-color: #f2ea0c;
  width: 200px;
  height: 200px;
  border-radius: 0 0 0 100%;
}

.yellow:active {
  background-color:#f2ea0c;
}

.playback-div {
  width: 100%;
  overflow: hidden;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.top {
  margin: 0 auto;
  width: 33%;
  margin-top: 2%;
}

#playback {
/*  display: inline-block;
  margin: 0 auto;*/
/*vertical-align: right;*/
/*  margin: 20px 40% 0 40%;*/
  font-size: .6em;
  float: right;
  color: red;
  background-color:white;
/*  height: 100%;*/
}

#playback:hover {
  background-color: red;
  color: white;
}

#playback:active {
  background-color: white;
  color: white;
}
